<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="ri-restaurant-2-fill"></i>
            <i class="ri-cup-fill"></i>
            <i class="ri-beer-fill"></i>
            <i class="ri-restaurant-line"></i>
        </div>
        <div class="cont">&copy; FOOD PVT LIMITED</div>
        <div class="f-info-links">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
            
        </div>


    </div>

</footer>